body {
  background-image: linear-gradient(to bottom right, #2d0630, #810f8a);
  font-family: "Roboto Mono", monospace;
  background-size: 100%;
  background-position: center;
  background-repeat: round;
}

.container-head {
  text-align: center;
  width: 500px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-body {
  text-align: center;
  background: #ffffff;
  width: 1100px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: #d3d3d3;
  box-shadow: 6px 6px #d3d3d3;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.texto {
  color: #ffffff;
}

.page-logo {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-wrapper {
}

#table {
  width: 100%;
  border: 2px solid #810f8a;
  border-collapse: collapse;
}

th {
  background-color: #810f8a;
  color: #ffffff;
  padding: 10px;
}

h1 {
  color: #83cbac;
}

.coluna-pontos {
  background-color: #810f8a;
  color: #ffffff;
}

tr,
td {
  border: solid 2px #810f8a;
  color: #485157;
}

#zerarPlacar,
#zerarJogador {
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  background-color: #ffff7a;
  color: #000000;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  font-size: 10px;
}

#novoJogo {
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  background-color: #000000;
  color: #ffffff;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  font-size: 10px;
}

#pesos,
#addJogador {
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  background-color: #d3d3d3;
  color: #000000;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  font-size: 10px;
}

#pesos:disabled,
#addJogador:disabled {
  color: #ffffff;
  opacity: 0.6;
}

#adicionar {
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  background-color: #0087d9;
  color: #ffffff;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  font-size: 10px;
}

#remover {
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  background-color: #8b0000;
  color: #ffffff;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  font-size: 10px;
}

#removerJogador {
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  background-color: #000000;
  color: #ffffff;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  font-size: 10px;
}

#zerarPlacar:hover,
#zerarJogador:hover,
#novoJogo:hover,
#adicionar:hover,
#remover:hover,
#removerJogador:hover,
#pesos:hover,
#addJogador:hover {
  opacity: 0.6;
}

.placar1,
.placar2,
.placar3 {
  display: inline-block;
  color: white;
  font-size: 20px;
  margin: 10px;
}

.linha {
  display: flex;
  flex-flow: row wrap;
}

.coluna-50 {
  width: 50%;
  text-align: center;
}

input {
  margin: 5px;
  padding: 6px;
  border-radius: 5px;
}

.link-jogador {
  font-size: 15px;
  color: white;
}

.foto-jogador {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}